<div class="question-input">
  <%= form.label "Question" %>
  <%= form.text_field :content %>

  <% if form.object.persisted? %>
    <%= form.label "Delete" %>
    <%= form.check_box :_destroy %>
  <% end %>
</div>
