/* ====== GENERAL ====== */

* {
	box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #2c3e50;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

/* ====== SIGN-IN/UP ====== */

.logo {
  font-size: 5em;
  font-weight: 700;
  letter-spacing: -.04em;
  text-align: center;
  clear: both;
}

.logo a:link,
.logo a:visited,
.logo a:hover,
.logo a:active {
    text-decoration: none;
    color: #16A085;
}

.sign-in-form,
.sign-up-form {
  padding-left: 2em;
}

.sign-in-button,
.create-account-button,
.create-survey-button,
.results-button,
.edit-survey-button,
.delete-survey-button,
.submit-button {
  border: 0;
  border-radius: 2px;
  background: #009688;
  font-family: "Ubuntu";
  font-weight: 400;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: 1.1px;
  margin-bottom: 1em;
  color: #FFFFFF;
  padding: 13px 20px 13px 20px;
}

.sign-in-button,
.create-account-button,
.create-survey-button,
.submit-button {
  margin-top: 4em;
}

.results-button,
.edit-survey-button,
.delete-survey-button {
  display: inline-block;
  float: right;
  margin-right: 1em;
  margin-top: -3.8em;
}

.sign-in-button:hover,
.create-account-button:hover,
.create-survey-button:hover,
.results-button:hover,
.edit-survey-button:hover,
.delete-survey-button:hover,
.submit-button:hover {
    background: #128176;
}

input[type="email"],
input[type="password"],
input[type="text"]{
    width: 250px;
    height: 30px;
    margin: 5px;
}

input[type="radio"]{
  margin-right: .25em;
}

h2 a:link,
h2 a:visited,
h3 a:link,
h3 a:visited {
    text-decoration: none;
    color: #009688;
}

h2 a:hover,
h2 a:active,
h3 a:hover,
h3 a:active {
    text-decoration: none;
    color: #128176;
}

/* ====== FORMR HEADER ====== */

.logo-small {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: -.04em;
  text-align: left;
  padding: 1em;
  float:left;
}

.logo-small a:link,
.logo-small a:visited,
.logo-small a:hover,
.logo-small a:active {
    text-decoration: none;
    color: #16A085;
}

.right-controls {
  float: right;
  padding: 1em;
}

.right-controls a {
  text-decoration: none;
  color: #2c3e50;
}

.right-controls a:active {
  color: #2ecc71;
}

.right-controls a:first-child {
  padding-right: 1em;
}

/* ====== DASHBOARD-ZERO STATE ====== */

.dashboard-content {
  clear:both;
  padding-left: 2em;
}

.each-survey {
  clear: both;
  margin-bottom: 2em;
}

/* ====== NEW SURVEY ====== */

.survey-container {
  clear:both;
  padding-left: 2em;
}

.question,
.answers {
  margin-bottom: 1em;
}

.answers:last-of-type {
  margin-bottom: 0;
}

.answers label {
  margin-right: 1em;
}

/* ====== RESULTS ====== */

.bar {
  background: #16A085;
  border: 1px solid #16A085;
  height: 1em;
  float: left;
  margin-right: .5em;
}

ul li {
  list-style-type: none;
  margin: .5em 0;
}
